
h1 {
    color: #FFC857;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
#reciente {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #177E89;
    border-radius: 10px;
    padding-left: 100px;

}
.book {
    margin: 10px;

}
.book img{
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius:10%;
    background-color: #000000;

}

#catalogo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f8f6f6;
    border-radius: 10px;
    padding-left: 200px;

}

.book1 img{
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius:10%;
    background-color: #084c61;
}
.book2 img{
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius:10%;
    background-color:#FFC857;
}

#medio {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #060606;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}
#parte1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #084c61;
    border-radius: 10px;
    padding-left: 100px;

}
#parte2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #084c61;
    border-radius: 10px;
    padding-left: 100px;

}
.book3 img{
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius:10%;
    background-color: #177E89;
}
.book4 img{
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius:10%;
    background-color:#FFC857;
}