.contacto {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 100px;
}

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos {
    background-color: #FFC857;
    margin: 20px;
    border: 1px;
    border-radius: 25px;
    padding: 20px;
    min-width: 600px;
}

.mapa iframe {
    margin: 20px;
    border-radius: 25px;
    max-height: 400px;
}

.formulario {
    margin: 20px;
    background-color: #DB3A34;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.formulario h1 {
    text-align: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.formulario form input,
.formulario form fieldset,
.formulario form select,
.formulario form textarea {
    margin: 20px;
    font-weight: 900;
}

.formulario form input[type="submit"] {
    background-color: #FFC857;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario form input[type="submit"]:hover {
    background-color: #57a5ffd0
}

@media (max-width: 480px) {
    .contacto {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 300px;
    }

    .formulario {
        min-width: 300px;
        margin: 10px 0 0 0;
        padding: 0;
        max-height: 400px;
    }

    .formulario form {
        height: 500px;
        overflow-y: scroll;
        align-items: center;
    }

    .formulario form select{
       max-width: 200px;
    }
    .formulario form textarea {
        min-height: 50px;
        max-width: 200px;
    }

    .datos {
        min-width: 300px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .contacto {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        max-width: 768px;
    }
    .formulario {
        min-width: 450px;
        max-width: 500px;

    }
    .datos {
        min-width: 480px;
    }

}

@media screen and (max-width: 768px) {
    .mapa {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contacto {
        max-width: 768;
        align-items: center;
    }

    .formulario {
        max-width: 500px;
    }

    .informacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .datos {
        min-width: 250px;
    }

    .mapa iframe {
        max-width: 500px;
    }
}