
.contenedor-principal{
 width: 70%;
 margin-right: 400px;
 display: grid;
 background-color: #177E89;
 padding: 50px;
 margin:auto;
 border: 10px solid white;
 border-radius: 12px;  
}

.container-destacados{
    text-align: center;
    color: rgba(255, 255, 255, 1); 
    border-radius: 10px;
    margin: 50px;
    box-sizing: border-box;
}

.contenedor-caja{
    display: grid; /* Establece el contenedor como un contenedor de cuadrícula */
    grid-gap: 2em;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.img-contenedor{
    height: 25em;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.items{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61;
    border-radius: 20px;
    border-style: solid; /* Especifica el estilo del borde, en este caso, es una línea sólida */
    border-color: #000; /* Color del borde */
    margin: 20px;
}

.button-destacados{
  
    padding: 8px 150px; /* Padding interno */
    background-color: #FFC857; /* Color de fondo */
    color: white; /* Color del texto */
    border-width: 2px; /* Establece el grosor del borde */
    border-radius: 6px;
    border-style: solid;
    border-color: #000;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.boton-verLibro{
    position:relative;
    left: 290px;
    top: 315px;
    width: 25%;
}


/* Para el botón cuando se pasa el mouse sobre él, incluido para el carrusel*/
.button-destacados:hover {
    background-color: #000; /* Cambia color de fondo */
}

.articulo{
    width: 100%;
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    padding-left: 500px;
    padding-right: 250px;
    background-color: #084C61;
    padding-top: 100px; 
    padding-bottom: 100px; 
}

.img-articulos{
    width: 500px;
    height: 50%;
    border: 20px solid #177E89;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

hr{
    border: 20px solid #177E89;
    height: 4px;
    width: 400%;
}


