
.contenedor-principal{
 width: 70%;
 margin-right: 400px;
 display: grid;
 background-color: #177E89;
 padding: 50px;
 margin:auto;
 border: 10px solid white;
 border-radius: 12px;  
}

.container-destacados{
    text-align: center;
    color: rgba(255, 255, 255, 1); 
    /* padding-top: 150px; */
    border-radius: 10px;
    margin: 50px;
    box-sizing: border-box;
}

/* .container-blogs{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 400px;
    border-radius: 10px;
    margin-top: 2px;
    padding-bottom: 500px;
} */

.contenedor-caja{
    display: grid; /* Establece el contenedor como un contenedor de cuadrícula */
    /* grid-template-rows: 470px 470px; */
    grid-gap: 2em;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    /* max-height: 10em; */
}

.img-contenedor{
    height: 25em;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.items{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61;
    border-radius: 20px;
    border-style: solid; /* Especifica el estilo del borde, en este caso, es una línea sólida */
    border-color: #000; /* Color del borde */
}

/* .item-2{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61; 
    border-radius: 20px;
    border-style: solid; 
    border-color: #000; 
}

.item-3{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61;
    border-radius: 20px;
    border-style: solid; 
    border-color: #000; 
} */

.button-destacados{
    /* position:relative; */
    /* left:auto; */
    /* top: 350px; */
    margin: 25px;
    padding: 8px 150px; /* Padding interno */
    background-color: #FFC857; /* Color de fondo */
    color: white; /* Color del texto */
    border-width: 2px; /* Establece el grosor del borde */
    border-radius: 6px;
    border-style: solid;
    border-color: #000;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* .button-blogs{
    position:absolute;
    left:500px;
    top: 320%;
    padding: 8px 150px; 
    background-color: #FFC857; 
    color: white;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #000;
    cursor: pointer; 
} */

.boton-verLibro{
    position:relative;
    left: 290px;
    top: 315px;
    width: 25%;
}

/* .boton-articulos{
    position:relative;
    left: 290px;
    top: 315px;
    width: 25%;
} */

/* .item-4{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61;
    border-radius: 20px;
    border-style: solid; 
    border-color: #000; 
}

.item-5{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61;
    border-radius: 20px;
    border-style: solid; 
    border-color: #000;
}

.item-6{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #084C61;
    border-radius: 20px;
    border-style: solid; 
    border-color: #000; 
} */

/* Para el botón cuando se pasa el mouse sobre él, incluido para el carrusel*/
button:hover {
    background-color: #000; /* Cambia color de fondo */
}


.articulo{
    width: 100%;
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    padding-left: 500px;
    padding-right: 250px;
    background-color: #084C61;
    padding-top: 100px; 
    padding-bottom: 100px; 
}


/* #primer-articulo{
    width: 100%;
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    padding-left: 500px;
    padding-right: 250px;
    background-color: #084C61;
    padding-top: 100px; 
    padding-bottom: 100px; 
} */

/* #segundo-articulo{
    width: 100%;
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    padding-left: 500px;
    padding-right: 250px;
    background-color: #084C61;
    padding-top: 100px; 
    padding-bottom: 100px;
}

#tercer-articulo{
    width: 100%;
    font-size: 20px;
    color:rgba(255, 255, 255, 1);
    padding-left: 500px;
    padding-right: 250px;
    background-color: #084C61;
    padding-top: 100px; 
    padding-bottom: 100px;
} */

/* .img-articulo-1{
    width: 500px;
    height: 50%;
    border: 20px solid #177E89;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
} */

.img-articulos{
    width: 500px;
    height: 50%;
    border: 20px solid #177E89;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

hr{
    border: 20px solid #177E89;
    height: 4px;
    width: 400%;
}


