html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #177e89;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
}

footer {
    background-color: #177e89;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #177e89;
    font-weight: bold;
    font-style: italic;
}

h3 {
    color: #060606;
    font-weight: bold;
    font-style: italic;
}

h4 {
    color: #2d2e2e;
}

/* Sección del libro */
/* Sección Título del libro */
.seccionLibroNombre {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
    padding-left: 40px;
    text-align: left;
    justify-content: center;
    background-color: #f8f6f6;
}

/* Sección Título del libro */
.seccionLibro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #f8f6f6;
}

/* Sección foto del libro */
.seccionLibroFoto {
    background-color: #f8f6f6;
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    margin-left: 50px;
}

.seccionLibroFoto img {
    width: 80%;
}

/* Sección ficha técnica del libro */
.seccionLibroFicha h2 h5 p {
    text-align: left;
    font-size: 20px;
}

/* Seccion descripción/sinopsis del libro */
#descripcion{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8f6f6;
    border-radius: 15px;
}

#descripcionParrafo {
    width: 70%;
}

/* Seccion autor del libro */
#autor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFC857;
    border-radius: 15px;
    padding: 30px;
}

.autorTitulo {
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.autorContenido {
    display: flex;
}

.autorFoto img {
    width: 35%;
    align-items: center;
    justify-content: center;
    padding-left: 250px;
}

#descripcionParrafo {
    justify-content: left;
}